extends ./layout
block body
    h1 Boxscore
    p Quarter: #{lastQuarter['@number']}
    p Last Scoring Play Time: #{lastScoringPlay.time}

    h2 Away Team
    table.table.table-hover
        thead
            tr
                th Player
                th Field Goals
                th Three Pointers
                th Free Throws
                th Points
                th Assists
                th Rebounds
                th Blocks
                th Steals
                th Turn Overs
                th Fouls
        tbody
            each entry, i in message.gameboxscore.awayTeam.awayPlayers.playerEntry
                tr
                if entry.stats
                    td #{entry.player.FirstName} #{entry.player.LastName}
                    td #{entry.stats.FgMade['#text']}/#{entry.stats.FgAtt['#text']}
                    td #{entry.stats.Fg3PtMade['#text']}/#{entry.stats.Fg3PtAtt['#text']}
                    td #{entry.stats.FtMade['#text']}/#{entry.stats.FtAtt['#text']}
                    td #{entry.stats.Pts['#text']}
                    td #{entry.stats.Ast['#text']}
                    td #{entry.stats.Reb['#text']}
                    td #{entry.stats.Blk['#text']}
                    td #{entry.stats.Stl['#text']}
                    td #{entry.stats.Tov['#text']}
                    td #{entry.stats.Fouls['#text']}
                else
                    td #{entry.player.FirstName} #{entry.player.LastName}
                    td N/A
                    td N/A
                    td N/A
                    td N/A
                    td N/A
                    td N/A
                    td N/A
                    td N/A
                    td N/A

    h2 Home Team
    table.table.table-hover
        thead
            tr
                th Player
                th Field Goals
                th Three Pointers
                th Free Throws
                th Points
                th Assists
                th Rebounds
                th Blocks
                th Steals
                th Turn Overs
                th Fouls
        tbody
            each entry, i in message.gameboxscore.homeTeam.homePlayers.playerEntry
                tr
                if entry.stats
                    td #{entry.player.FirstName} #{entry.player.LastName}
                    td #{entry.stats.FgMade['#text']}/#{entry.stats.FgAtt['#text']}
                    td #{entry.stats.Fg3PtMade['#text']}/#{entry.stats.Fg3PtAtt['#text']}
                    td #{entry.stats.FtMade['#text']}/#{entry.stats.FtAtt['#text']}
                    td #{entry.stats.Pts['#text']}
                    td #{entry.stats.Ast['#text']}
                    td #{entry.stats.Reb['#text']}
                    td #{entry.stats.Blk['#text']}
                    td #{entry.stats.Stl['#text']}
                    td #{entry.stats.Tov['#text']}
                    td #{entry.stats.Fouls['#text']}
                else
                    td #{entry.player.FirstName} #{entry.player.LastName}
                    td N/A
                    td N/A
                    td N/A
                    td N/A
                    td N/A
                    td N/A
                    td N/A
                    td N/A
                    td N/A